<div class="footer-below">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="social-media">
          <div class="social mail">
            <a href="mailto:miks.szymon@gmail.com" target="_blank">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
          </div>
          <div class="social facebook">
            <a href="https://www.facebook.com/szymon.miks" target="_blank">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </div>
          <div class="social github">
            <a href="https://github.com/szymon6927" target="_blank">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
          </div>
          <div class="social linkedin">
            <a href="https://www.linkedin.com/in/szymon-miks-7992a8a7/" target="_blank">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col s12">
        <p class="created">
          Created by Szymon Miks
        </p>
        <span class="copyright">
          Copyright ©
          <a href="#" target="_blank"></a> All Rights Reserved.
        </span>
      </div>
    </div>
  </div>
</div>