<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Strona główna</a></li>
				<li><a href="/bitmarket">Bitmarket</a></li>
        <li><a href="/tictactoe">Kółko i krzyżyk</a></li>
        <li><a href="/snake">Snake</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="/">Strona główna</a></li>
				<li><a href="/bitmarket">Bitmarket</a></li>
        <li><a href="/snake">Snake</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>