<div class="container mt20">
    <div class="row">
        <div class="col m12 s12">
            <div class="starter-template">
                <h3 class="center mb20">{{welcomeMessage}}</h3>
                <h5 class="center mb20">{{chooseInfo}}</h5>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="card">
                <div class="card-image snake-img">
                    <img src="/img/snakes-and-ladders.svg">
                    <span class="card-title">Snake</span>
                </div>
                <div class="card-content">
                    <p>Zagraj w najpopularnijeszą grę wszechczasów, znanego i słynnego węża. Zdobądź jak najwięcej puntków i zostań mistrzem</p>
                </div>
                <div class="card-action">
                    <a href="/snake">Graj!</a>
                </div>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="card">
                <div class="card-image tictactoe-img">
                    <img src="/img/tictactoe.svg">
                    <span class="card-title">Kółko i krzyżyk</span>
                </div>
                <div class="card-content">
                    <p>Zagraj w kółko i krzyżyk. Sprawdź czy uda Ci się pokonać najlepszego gracza jakim jest komputer</p>
                </div>
                <div class="card-action">
                    <a href="/tictactoe">Graj!</a>
                </div>
            </div>
        </div>
    </div>
</div>
