<div class="container mt20">
    <div class="row">
        <div class="col m12 s12">
            <div class="starter-template mb20">
                <h3 class="center mb20 mt0">{{welcomeMessage}}</h3>
                <h5 class="center mb30">{{chooseInfo}}</h5>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="card">
                <div class="card-image snake-img pt10">
                    <a href="/snake"><img src="/img/snakes-and-ladders.svg"></a>
                    <span class="card-title">Snake</span>
                </div>
                <div class="card-content">
                    <p>Zagraj w najpopularnijeszą grę wszechczasów, znanego i słynnego węża. Zdobądź jak najwięcej puntków i zostań mistrzem</p>
                </div>
                <div class="card-action center">
                    <a href="/snake">Graj!</a>
                </div>
            </div>
        </div>
        <div class="col m6 s12">
            <div class="card">
                <div class="card-image tictactoe-img pt10">
                    <a href="/tictactoe"><img src="/img/tictactoe.svg"></a>
                    <span class="card-title">Kółko i krzyżyk</span>
                </div>
                <div class="card-content">
                    <p>Zagraj w kółko i krzyżyk. Sprawdź czy uda Ci się pokonać najlepszego gracza jakim jest komputer</p>
                </div>
                <div class="card-action center">
                    <a href="/tictactoe">Graj!</a>
                </div>
            </div>
        </div>
    </div>
</div>
