html {
	font-family: 'Open Sans', sans-serif;
}
strong {
    font-weight: 600;
}
.mb0 {
	margin-bottom: 0;
}
.mt20 {
	margin-top: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.main-title {
	border-bottom: 1px solid #ccc;
	font-size: 28px;
    padding: 5px 0;
    margin-bottom: 10px;
}
.main-title > span {
	padding-left: 10px;
}
.subtitle {
	font-size: 19px;
}

/* CSS dla TicTacToe */
.tictactoe-wraper {
	text-align: center;
}
.tictactoe {
	width: 400px;
    height: 350px;
    margin: 45px auto;
}
.field {
	font-size: 75px;
    font-weight: bold;
    cursor: pointer;
    height: 110px;
    line-height: 115px;
}
.field:hover {
	background: #fafafa;
}
.field em {
	color: #f11c1c;
}
.field-center {
	border-left: 2px solid #222;
	border-right: 2px solid #222;
}
.horizontal-line {
	border-bottom: 2px solid #222;
}
.choose-char {
	font-size: 22px !important;
    color: #222;
}
.winner-icon i {
	color: #e61414;
    font-size: 32px;
}
.final-text {
	display: inline-block;
    font-size: 32px;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px #cacaca;
    padding-bottom: 5px;
}
.final-player {
	font-variant: small-caps;
    border-top: 1px solid #cacaca;
    padding-top: 10px;
    font-size: 2.6em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.final-player strong {
	border-bottom: 3px solid #222;
}
.level-info {
	padding-bottom: 5px;
    border-top: 1px solid #cacaca;
    padding-top: 5px;
    font-size: 18px;
}

.start-game-text {
    border-top: 2px solid #900000;
    padding-top: 10px;
    font-size: 22px;
    font-family: monospace;
    text-shadow: 1px 1px 1px #cacaca;
}
canvas {
    border: 5px solid #ECF0F1;
}