html {
	font-family: 'Open Sans', sans-serif;
}
strong {
    font-weight: 600;
}
.mt20 {
	margin-top: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.main-title {
	border-bottom: 1px solid #ccc;
	font-size: 28px;
    padding: 5px 0;
    margin-bottom: 10px;
}
.main-title > span {
	padding-left: 10px;
}
.subtitle {
	font-size: 19px;
}