<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="main-title">{{title}}</div>
      <div class="subtitle">{{text}}</div>
    </div>
  </div>
</div>
<div class="tictactoe-wraper">
  <div class="tictactoe">
    <div class="row horizontal-line mb0">
      <span class="col s4 field"></span>
      <span class="col s4 field field-center"></span>
      <span class="col s4 field"></span>
    </div>
    <div class="row horizontal-line mb0">
      <span class="col s4 field"></span>
      <span class="col s4 field field-center"></span>
      <span class="col s4 field"></span>
    </div>
    <div class="row mb0">
      <span class="col s4 field"></span>
      <span class="col s4 field field-center"></span>
      <span class="col s4 field"></span>
    </div>
  </div>
</div>
<script src="/modules/tictactoe.js"></script>