<div class="container mt20">
	<div class="row">
		<div class="col s12">
			<div class="card-panel">
				<h4 class="truncate">{{title}}</h4>
				<hr />
				<h5 class="main-text">{{text}} dla waluty LTC</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="row card-panel">
				<div class="main-title"><i class="material-icons">filter_drama</i><span>Piersze api</span></div>
				<div class="content-body">
					<div class="subtitle mb20">Plik zawiera opis bieżącego stanu giełdy, jako obiekt z następującymi polami:</div>
					<div class="col s12 mb20">
						<div><strong>last</strong> - kwota ostatniej transakcji.</div>
						<div><strong>high</strong> - najwyższa kwota transakcji w ciągu ostatnich 24 godzin.</div>
						<div><strong>low</strong> - najniższa kwota transakcji w ciągu ostatnich 24 godzin.</div>
						<div><strong>vwap</strong> - średnia ważona kursu z ostatnich 24 godzin.</div>
						<div><strong>bid</strong> - najwyższa oferta kupna.</div>
						<div><strong>ask</strong> - najniższa oferta sprzedaży.</div>
					</div>
					<div class="col m3 s6">
						<div class="card-panel teal">
							<span class="white-text">
								LAST: {{info.last}}
							</span>
						</div>
					</div>
					<div class="col m3 s6">
						<div class="card-panel teal">
							<span class="white-text">
								HIGH: {{info.high}}
							</span>
						</div>
					</div>
					<div class="col m3 s6">
						<div class="card-panel teal">
							<span class="white-text">
								LOW: XXX
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/modules/bitmarket.js"></script>